 *{
    /* padding: 0px; */
    margin: 0px;
 }
 /*Header section*/
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 198, 206);
    height: 850px;
    width: auto;
 }
 .harti{
    height: auto;
    width: 500px;
    margin-left: 150px;
    
 }
.headh1{
    font-size: 60px;
    margin-top: 5px;
}
.hp{
    margin-top: 20px;
}
.himg{
    height: 800px;
    width: 635px;
    margin-top: 50px;
    margin-right: 200px;
}
.primary-btn{
    background-color: rgb(226, 30, 89);
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
}
.primary-btn:hover{
    background-color: yellowgreen;
    color:rgb(226, 30, 89) ;

}

/* main-section-1 */

.section-1-head{
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
}
.s-1-h{
    text-align: center;
    margin-bottom: 10px;
}
.s-1-p{
    text-align: center;
}
.section-1-img{
    justify-content: center;
    display: flex;
    
}
.s-1-img{
   margin-left: 50px;
   /* background-color: aqua; */
   width: 300px;
   height: 350px;
   margin-top: 100px;
   
    
}
.s-1-img1{
    background-color: rgb(252, 240, 242);
    height: 450px;
    width: 400px;
    border-radius:200px 200px 0px 0px ;
    margin-left: 50px;
}
.s-1-img2{
    background-color: rgb(202, 247, 248);
    height: 450px;
    width: 400px;
    border-radius:200px 200px 0px 0px ;
    margin-left: 50px;
}
.s-1-img3{
    background-color: rgb(216, 248, 238);
    height: 450px;
    width: 400px;
    border-radius:200px 200px 0px 0px ;
    margin-left: 50px;
}

.s-1--imgh{
    text-align: center;
    
}

/* Section-2 */
.section-2{
    align-items: center;
    justify-content: center;
}

.sec-2{
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 248, 246); 
    margin: 100px 304px;
    
    width: 1300px;
    height: 150px;
}
.sec-2-contn{
    margin: 50px;
    text-align: center;
}

/* section-3 */

.section-3{
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: rgb(250, 244, 245);
    height: 400px;
}
.s-3-con{
    justify-content: center;
    text-align: center;
    margin-right: 150px;

}
.s-3-h{
    font-size: 30px;
    margin-top: 20px;
}
.s-3-hoff{
    color:  rgb(226, 30, 89);
    margin-bottom: 20px;
}
.s-3-p{
    margin-top: 5px;
}
.s-3-img{
    width: 200px;
}